#qrcode {
    display: block;
}

#error{
    color: darkred;
}

.centered-fields{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.resize-field {
    width: 20em;
}

.padding-between-rows td
{
    padding:0 15px 0 15px;
}
.container-student{
    padding-top: 120px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

body {
    padding-top: 70px;
}
input::placeholder {
    text-transform: none;
}